.folder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  p {
    margin: 0px;
    margin-top: -8px;
    padding: 0;
    color: white;
    font-family: MyFont;
    font-size: .75em;
    border: 1px dotted teal;
  }
}

.clickedText {
  border: 1px dotted white;
  background-color: blue;
}
